

/* The code below eliminates rounded edges and creates sharp edges on the panels */
* {
    -webkit-border-radius: 0 !important;
       -moz-border-radius: 0 !important;
            border-radius: 0 !important;
  }


/* nav bar */

.navbar-default {
    background:#fff;
    border-color: #cccccc;
    margin-bottom: 10px;


}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
}

.navbar-nav>li>a {
    padding-top:35px;
}


.navbar-default .navbar-brand {

    color: #ffffff;
    background-color: #4aaaa5;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 250px;
    height: 90px;
    padding: 35px;
    font-weight: bolder;
}

a {
    padding: 35px;
}

body {
    background-image:url("../images/layout.png");
    
}



h2 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;  
    font-weight: bold;
}

h2 small {

    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;  
    font-weight: bold;
    text-align: center;

}

.page-header {
    margin:0px 0px 30px 0px;
    border-bottom: 3px solid #eee;

}

h3 {
    text-align: center;
    color: #bebebf;
    font-size: 12px;
    font-weight: normal;
}


p {
    line-height: 1.6;
    font:16px;
    font-family: sans-serif;
    margin: 0px 20px ;
}

.panel-footer {
    
    height: 88px;
    background-color: #666;
    border-top-width: 10px;
    border-color: #4aaaa5;
    text-align: center;
}

.panel {
    margin-bottom: 0px;
    margin-top:30px;
    

}

.img-thumbnail {
    border: 0 none;
    box-shadow: none;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;

}

a {
    padding:10px;
}

